p {
    font-size: 13px;
    padding: 5px;
    border-radius: 3px;
}

.base_receive p {
    background: #E4F6DF;
}
.base_receive img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.base_sent img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.base_sent p {
    background: #E9F7FD;
}

time {
    font-size: 11px;
    font-style: italic;
}

#login-box {
    margin-top: 20px
}

#chat_box {
    position: fixed;
    top: 10%;
    right: 5%;
    width: 27%;
}

.close-chat {
    cursor: pointer;
    float: right;
  
}

.chat_box {
    border-radius: 2px;
    border: 1px solid #8f8f8f;
    background-color: white;
    margin-right: 25px;
    width: 310px;
}

.chat-area {
    height: 400px;
    overflow-y: scroll;
}

#users li {
    margin-bottom: 5px;
}

#chat-overlay {
    z-index:10;
    position: fixed;
    right: 0%;
    top: 7%;
}

.glyphicon-ok {
    color: #42b7dd;
}

.loader {
    -webkit-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
